<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunqi.house.biz.mapper.UserMapper">

    <select id="findAll" resultType="com.xunqi.house.common.pojo.User">
        SELECT id, name, phone, email, aboutme, passwd, avatar, type, create_time, enable, agency_id
        FROM user
    </select>
</mapper>